*{
    margin:0;
    padding:0;
}
html,body{
    background-color: rgb(255, 255, 255);
}
/* Navigation-content CSS starts */
.navigation-content{
    margin:20px;
    display:flex;
    height:60px;
    align-items:center;
}
.content h4{
    margin-left:8px;
    font-size:25px;
    font-family: 'Times New Roman', Times, serif;
    color:rgb(255, 71, 71);
}
.search{
    margin-left:20px;
    height:40px;
    border-radius:40px;
    width:1050px;
    padding-left:30px;
    font-size:15px;
    border-color: black;
}
.fa-search{
    margin-left:10px;
    font-size:20px;
    font-weight:500;
}
.signin{
    margin-left:45px;
    text-decoration: none;
    font-size:18px;
    color:rgb(72, 71, 71);
    cursor:pointer;
}
.signin:hover{
    color:rgb(155, 148, 148);
}
.fa-shopping-cart{
    margin-left:52px;
    font-size:20px;
    font-weight:500;
}

/* Signin content css starts */
.sign-content{
    background-color:rgb(223, 219, 214);
    height:700px;
    width:400px;
    margin-left:500px;
    border-radius: 30px;
    display:none;
}
.sign-content h3{
    margin-left:10px;
    padding:30px;
    font-size:25px;
}
p{
    margin-top:10px;
    margin-left:40px;
}
.email{
    margin-top:20px;
    font-size:15px;
    font-weight:500;
    margin-left:40px;
}
.emailbox{
    margin-top:12px;
    margin-left:40px;
    padding-left:20px;
    height:50px;
    width:300px;
    border-radius:5px;
    border-color:rgb(57, 57, 57);
    font-weight:100;
}
.continue{
    background-color:black;
    color:white;
    font-size:15px;
    margin:20px;
    margin-left:40px;
    max-width:324px;
    height:40px;
    text-align: center;
    padding-top:20px;
    border-radius:40px;
}
.trouble{
    margin-left:130px;
}
.hrcontent{
    display:flex;
    margin-top:20px;
}
.hr1{
    width:200px;
    opacity: 0.6;
    margin-top:10px;
}
.hr{
    font-size: 25px;
    font-weight:300;
}
.hr2{
    width:200px;
    opacity:0.6;
    margin-top:10px;

}
.google-content{
    display:flex;
    background-color:white;
    margin-top:20px;
    height:40px;
    margin-left:40px;
    max-width:320px;
    padding-top:20px;
    border-radius:40px;
}
.fa-google{
    margin-left:30px;
}
.google{
    margin-left:10px;
}
.fa-facebook{
    margin-left:30px;
}
.facebook{
    margin-left:10px;
}
.fa-apple{
    margin-left:30px;
}
.apple{
    margin-left:10px;
}
.copyright{
    margin-top:30px;
    margin-left:130px;
    font-weight:300;
}
.wrong{
    margin-left:410px;
    font-size:20px;
    opacity:0.3;
    cursor:pointer;
}

/* nav content css starts */
.navcontent{
    margin-bottom:20px;
    margin-left:30px;
    max-width:1370px;
    position: absolute;
}

.navcontent{
    display:flex;
}
a{
    text-decoration:none;
    color:black;
    font-size:15px;
}
.clothing{
    margin-left:107px;
}
.Home{
    margin-left:107px;
}
.Wedding{
    margin-left:107px;
}
.vintage{
    margin-left:107px;
}
.arts{
    margin-left:107px;
}
.instruments{
    margin-left:107px;
}

/* background css starts */
.image{
    margin-top:40px;
    height:400px;
    width:1440px;
    position:static;
}

/* info css starts */
.profile{
    margin-top:20px;
    margin-left:20px;
    height:150px;
    border-radius:10px;
}
.info-content{
    display:flex;
}
.info-tech{
    margin-top:50px;
    margin-left:30px;
}
.info-tech h6{
    margin-top:10px;
    font-size:15px;
    font-weight:200;
}
.info-tech h2{
    font-family:'Times New Roman', Times, serif;
    letter-spacing: 1px;;
}
.pro{
    height:70px;
    margin-top:50px;
    border-radius: 50px;
    margin-left:900px;
}
.ytext{
    margin-left:910px;
    font-size:15px;
    font-weight: 200;
}
.ctext{
    margin:10px;
    margin-left:895px;
}

/* Items css starts */
.item{
    margin:30px;
    margin-left:30px;
    display:flex;
}
.it{
    font-size:20px;
    margin-top:15px;
}
.all{
    cursor:pointer;
}
.itext{
    margin-top:5px;
    margin-left:30px;
    width:350px;
    height:50px;
    border-color:black;
    border-radius:40px;
    padding-left:30px;

}
.items-content{
    display:flex;
}
.dropcontent{
    background-color:rgb(252, 241, 241);
    margin-left:40px;
    height:50px;
    width:200px;
    text-align:center;
    padding-top:10px;
    border-radius:40px;
    cursor:pointer;
}
.drop:hover, .lcontent{
    opacity:1;
    visibility: visible;
}
.fa-caret-down{
    padding-left:20px;
}
.dropdown{
    display:flex;
}
.dropcontent{
    margin-left:1150px;
}
.searchitem{
    background-color: rgb(43, 43, 43);
    height:60px;
    width:270px;
    margin-left:20px;
    border-radius:40px;
}
.itemscon{
    margin-left:0px;
    height:60px;
    padding-left:55px;
    border-radius:40px;
    outline:none;
    border-color:black;
    width:220px;
}
.searchcontent .fas{
    color:white;
    padding-left:17x;
}
.itemlist-content{
    margin-top:30px;
    margin-left:30px;
    font-size:20px;
    display:flex;
}
.all:hover{
    color:rgb(164, 160, 160);
}
.on{
    margin-top:10px;
}
.wall{
     margin-top:10px;
}
.app{
    margin-top:10px;
}
.digi{
    margin-top:10px;
}
.shopcontent{
    height:50px;
    background-color: grey;
    width:250px;
    margin-left:23px;
    margin-top:20px;
    padding-top:13px;
    padding-left:42px;
    border-radius: 5px;
    color:black;
    background-color: white;
    border:2px solid rgb(218, 218, 218);
    cursor:pointer;
}
.desk{
    margin-left:30px;
}
.itempictures{
    /* background-color:red; */
    margin-left:350px;
    height:260px;
    width:280px;
    padding-top:18px;
    border:2px solid black;
}
.itempictures img{
    width:auto;
    height:220px;
    margin-left:27px;
}


