*{
    margin:0;
    padding:0;
}
.navigation-content{
    margin:20px;
    display:flex;
    height:60px;
    background-color: red;
    align-items:center;
}
.search{
    margin-left:20px;
    height:40px;
    border-radius:40px;
    width:1050px;
    padding-left:30px;
    font-size:15px;
    border-color: black;
}
.fa-search{
    margin-left:10px;
    font-size:25px;
    font-weight:300;
}